.results {
  font-size: 1rem;
}

.results__caption {
  margin-bottom: 0.25em;
  font-size: 1.25em;
}

.results__head {
  padding: 0 0.5em;
  font-weight: 400;
  border-bottom: 1px solid currentColor;
}

.results__cell {
  padding: 0 0.5em;
  font-weight: 300;
}
